venv/
*.venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

.git/
.gitignore

.idea/
.vscode/

.env
*.env

*.db
*.db-journal

dist/
build/
*.egg-info/

tests/
*.test.py
pytest.ini
.pytest_cache/

Dockerfile
.dockerignore
