__pycache__/
*.pyc
*.pyo
*.pyd
*.~
*#
*.swp

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.db
*.db-journal*
*.sqlite
*.sqlite3

instance/

dist/
build/
*.egg-info/
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

*.mo
*.pot

.envrc
dotenv
.env.*

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
backend/.DS_Store
frontend/.DS_Store
Thumbs.db

.docker/

.railway/
